.filter {
    width: 50vw;
    height: 100vh;
    background: linear-gradient(
            0deg,
            rgba(29, 29, 78, 0.2) 0%,
            rgba(29, 29, 78, 0.2) 100%
        ),
        url("../assets/images/Picture.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.topInfoContainer {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    align-items: flex-start;
}

.logo {
    align-self: center;
    margin-bottom: 111px;
}

.topTexts {
    display: flex;
    flex-direction: column;
}

.text2 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(9, 9, 55, 0.6);
}

.text1 {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #090937;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.formButtonContainer {
    width: 400px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.buttonContainer {
    margin-top: 10px;
    width: 400px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .container {
        width: 350px;
    }
    .logo {
        margin-left: auto;
        margin-right: auto;
    }
    .formButtonContainer {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }
}

@media (max-width: 800px) {
    .filter {
        display: none;
    }
    .loginContainer {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .topInfoContainer {
        margin-top: 80px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .logo {
        align-self: center;
        margin-bottom: 50px;
    }

    .formContainer {
        width: auto;
        margin-top: 40px;
    }

    .formButtonContainer {
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 75px;
    }
    .buttonContainer {
        width: 100%;

        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 1023px) {
    .logo {
        margin-bottom: 50px;
    }

    .formContainer {
        margin-top: 40px;
    }
    .formButtonContainer {
        margin-top: 75px;
    }
}

@media (max-height: 600px) {
    .logo {
        margin-bottom: 20px;
    }

    .formContainer {
        margin-top: 20px;
    }
    .formButtonContainer {
        margin-top: 36px;
    }
}
