.image {
    width: 50vw;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.topInfoContainer {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    align-items: flex-start;
}

.logo {
    align-self: center;
    margin-bottom: 111px;
}

.topTexts {
    display: flex;
    flex-direction: column;
}

.text2 {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(9, 9, 55, 0.6);
}

.text1 {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #090937;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.formButtonContainer {
    width: 400px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.buttonContainer {
    margin-top: 10px;
    width: 400px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
